@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
/* Global CSS */
.button {
  padding: 8px 30px;
  border-radius: 35px;
  border: none;
  background: #ff3000;
  color: white;
  transition: all 0.6s;
  margin: 10px auto;
}
.lookbtn{
  padding: 8px 30px;
  border-radius: 35px;
  border: none;
  background: #ff3000;
  color: white;
  transition: all 0.6s;
  margin: 10px auto;
}
.lookbtn:hover{
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
}
.button:hover {
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
}
.button:active {
  background: rgba(0, 0, 0, 0.3);
  color: #333;
}
.li {
  list-style-image: url("../public/270-01-512.png");
}
/* Header CSS */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: rgb(243, 251, 254);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  color: #020e4a;
  font-size: 1.8rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  cursor: pointer;
}
.logo span {
  color: #ff3000;
  font-weight: 900;
  cursor: pointer;
}
.links a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.6s;
}
.links a:active {
  background: rgba(0, 0, 0, 0.1);
}
.burgerMenu {
  font-size: 1.8rem;
  padding: 2px;
  border-radius: 5%;
  transition: all 0.7s;
}
.closeMenu,
.toogleMenu {
  display: none;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100px;
  cursor: pointer;
}
.iconshov {
  padding: 2px;
  border-radius: 5%;
  transition: all 0.7s;
}
.iconshov:hover {
  background: rgba(225, 225, 225, 0.5);
  cursor: pointer;
}
.icons1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100px;
  cursor: pointer;
  display: none;
}
.iconshov1 {
  padding: 2px;
  border-radius: 5%;
  transition: all 0.7s;
}
.iconshov1:hover {
  background: rgba(225, 225, 225, 0.5);
  cursor: pointer;
}
.Mlinks {
  display: flex;
  flex-direction: column;
  right: 10px;
  top: 70px;
  padding: 10px;
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
  position: absolute;
  width: 250px;
  z-index: 999;
}
.Mlinks a {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.6s;
  display: none;
}
.Mlinks a:active {
  background: rgba(0, 0, 0, 0.1);
}
.closeMenu {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .links {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    display: none;
  }
  #ShowMenu {
    display: block;
  }
  .toogleMenu {
    display: block;
  }
}
/*Go To Top*/
.gotop {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: url(../public/gotoup.png);
  background-position: center;
  background-color: #ff3000;
  background-repeat: no-repeat;
  background-size: 60%;
  object-fit: cover;
  border: 3px solid #ff3000;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  cursor: pointer;
  z-index: 999;
  animation: changebr 7s ease-in-out infinite alternate-reverse;
}
.gotop:active {
  border: 2px solid rgba(225, 225, 225, 0.8);
}
@keyframes changebr {
  50% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  70% {
    border-radius: 30% 79% 79% 30% / 30% 30% 50% 70%;
  }
}
/* Main Page Design */
.container {
  padding: 60px;
}
.home {
  width: 100%;
  height: 90vh;
  background: url(../public/HomeImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero {
  position: absolute;
  top: 150px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.h1 {
  color: #020e4a;
  font-family: Nunito;
  font-size: 48px;

  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}
.h2 {
  font-family: "Nunito";
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.p {
  color: #020e4a;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "P, ersonal" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.p1 {
  color: #020e4a;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-top: 10px;
  text-align: center;
}
.abth5 {
  color: #0c0c0c;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.abth2 {
  color: #020e4a;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}
.infofirst {
  width: 350px;
  text-align: left;
}
.infosecond {
  width: 400px;
  color: #525252;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.infothird {
  width: 400px;
  color: #525252;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  padding: 10px;
  margin: 60px auto;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  overflow: hidden;
  color: #525252;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  transition: all 0.6s;
}
.box:hover {
  transform: translateY(-20px);
  cursor: pointer;
}
.box span {
  font-size: 1.4rem;
  font-weight: bold;
}
/* Cuppon Section CSS */
.cuppon {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.cupoo {
  width: 100%;
  height: 90vh;
  margin: 0px auto;
  text-align: center;
}
.ch1 {
  font-size: 2rem;
  color: #020e4a;
  font-weight: bold;
}
.ch2 {
  font-size: 1.7rem;
  color: #ff3000;
  font-weight: 400;
}
.cuppomain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background: url(../public/notjustanotherback.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: white;
}
.cupoocont {
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
  border: none;
  border-radius: 4px;
  width: 550px;
  height: 350px;
  background: white;
  transform: translate(-50px, 50px);
  padding: 10px;
}
.cupooleftimg {
  width: 550px;
  height: 350px;
  border-radius: 6px;
  border: none;
  background: url(../public/campusImg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
}
.cupooinfo {
  margin: 10px auto;
  width: 100%;
  border-radius: 7px;
  padding: 0px;
}
.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  overflow: hidden;
}
.pb {
  color: #000000;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.pbhook {
  color: #6b6b6b;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.cupooinfobox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
}
.feachimg1 {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../public/lesson.png);
  background-color: #feecef;
  border-radius: 50%;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.feachimg2 {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../public/lecture_copy.png);
  background-color: #e7f8f5;
  border-radius: 50%;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.feachimg3 {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: url(../public/presentation.png);
  background-color: #fff4e8;
  border-radius: 50%;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.feachinfo {
  width: 80%;
  margin-left: 20px;
}
/* About US CSS */
.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 20px;
}
.aboutinfo {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  text-align: left;
  width: 40%;
  height: auto;
}
.aboutinfoh5 {
  color: #000105;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: left;
  text-transform: uppercase;
}
.aboutinfoh1 {
  color: #000105;
  font-family: Nunito;
  font-size: 37px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: left;
}
.aboutinfop {
  color: #6a6a6a;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-top: 10px;
}
.aboutusimg {
  background: url(../public/AboutImg.png);
  background-position: center;
  background-size: cover;
  width: 644px;
  height: 618px;
}
.ul {
  list-style-image: url(../public/tick.png);
  margin-left: 30px;
  margin-top: 2px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
.li {
  padding: 5px;
  color: #000000;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 37px;
  text-align: left;
}
.aboutusbottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  margin: 30px auto;
}
.aboutusboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 266px;
  height: 143px;
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
  border-radius: 10px;
  background-color: #ffffff;
}
.mockh2 {
  color: #ff3000;
  font-family: Nunito;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.mockp {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 10px;
}

/*2nd Last Section CSS*/
.fyda {
  width: 100%;
  height: 120vh;
  background: url(../public/benefitsback.png);
  background-color: #f7f5f2;
  background-position: center;
  background-size: cover;
}
.h1fyda {
  color: #000105;
  font-family: Nunito;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  display: none;
  text-align: center;
}
.allbtnfyda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fydabutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 393px;
  height: 138px;
  border-radius: 69px;
  background-color: #ff3000;
  text-align: left;
  margin: 20px auto;
}
.fydabutton1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 392px;
  height: 137px;
  border-radius: 69px;
  background-color: #fff9e4;
  text-align: left;
  margin: 20px auto;
}
.fydabutton2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 392px;
  height: 137px;
  border-radius: 69px;
  background-color: #ffe7ed;
  text-align: left;
  margin: 20px auto;
}
.fydaleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
}
.fydaright {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 20px;
}
.fydaleft1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
.fydaright1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  color: #000;
  margin-left: 20px;
}
.fydah1bol {
  color: #000105;
  font-family: Nunito;
  font-size: 37px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.fydaleft2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
.fydaright2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: left;
  margin-left: 20px;
}
.fydaright {
  text-align: left;
}
.fydaright2 {
  text-align: left;
}
.connect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 955px;
  height: 207px;
  border-radius: 20px;
  background-color: #ff3000;
  border-radius: 35px;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-130px);
  z-index: 9;
}
.connectleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  height: 100%;
  font-family: Nunito;
}
.connectmiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 100%;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 84px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  font-family: Nunito;
}
.connectright {
  width: 100%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.connecth1 {
  color: #ffffff;
  font-family: "Poppins - Black";
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.connectp {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.contactback {
  background: rgba(0, 0, 0, 0.7) url("../public/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-blend-mode: darken;
  margin-top: 0;
}

/* Meadia Queries */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .info {
    padding: 18px;
  }
  .infofirst {
    text-align: center;
  }
  .abth2,
  .abth5 {
    text-align: center;
  }
  .infosecond,
  .infothird {
    text-align: center;
  }
  .stats {
    margin: 10px auto;
  }
  .box {
    margin: 20px auto;
  }
  .ch1 {
    margin-top: 10px;
    font-size: 1.7rem;
  }
  .cuppon {
    background: white;
    height: auto;
  }
  .cupooinfobox {
    width: 95%;
    margin: 10px auto;
    flex-direction: row;
    flex-wrap: unset;
  }
  .cuppoimg {
    display: flex;
  }
  .cupooinfo {
    display: flex;
  }
  .cuppomain {
    background: none;
    height: auto;
  }
  .cupooleftimg {
    width: 95%;
    height: 300px;
  }
  .cupoocont {
    width: 95%;
    margin: 10px auto;
    transform: translate(0);
    display: flex;
    height: auto;
    padding: 0;
  }
  .aboutus {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
  .aboutinfo {
    width: 100%;
    padding: 5px;
  }
  .aboutusimg {
    width: 100%;
    height: 50vh;
  }
  .aboutusboxes {
    width: 100%;
    margin: 10px auto;
  }
  .ul {
    width: 95%;
    margin: 0 auto;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }
  .li {
    padding: 0;
    text-align: left;
  }
  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ff3000;
    border-radius: 4px;
    margin: 0px auto;
    column-gap: 10px;
    position: relative;
    left: 0;
    transform: translateY(0);
    z-index: 9;
  }
  .connect br{
    display: none;
  }
  .connecth1{
    text-align: center;
    padding: 10px;
  }
  .connectp{
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
  }
  .feature {
    padding: 0;
  }
  .fyda {
    background: url(../public/girl-1.png);
    background-position: bottom;
    background-size: 90%;
    height: 160vh;
    background-repeat: no-repeat;
    background-color: #f7f5f2;
  }
  .allbtnfyda {
    display: flex;
    flex-direction: column;
  }
  .h1fyda {
    display: block;
  }
  .fydabutton {
    display: flex;
    height: 130px;
    width: 90%;
    margin: 10px auto;
  }
  .fydabutton1 {
    display: flex;
    height: 130px;
    width: 90%;
    margin: 10px auto;
  }
  .fydabutton2 {
    display: flex;
    height: 130px;
    width: 90%;
    margin: 10px auto;
  }
  .fydah1bol {
    color: #000105;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .box {
    height: 70px;
    width: 50%;
  }
  .ch2 {
    font-size: 1rem;
  }
  .aboutinfoh1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .aboutinfoh5 {
    text-align: center;
  }
  .aboutinfop {
    text-align: center;
  }
  .infofirst {
    width: 98%;
  }
}
.btnwithback {
  padding: 10px 30px;
  border-radius: 23px;
  background-color: #ff3000;
  border: 1px solid #ff3000;
  margin: 10px 0px;
  color: white;
}
.btnwithback:hover {
  box-shadow: 0 5px 24px rgba(203, 199, 199, 0.48);
}


@media only screen and (max-width: 360px) {
  .h1{
    color: #020e4a;
    font-family: Nunito;
    font-size: 39px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }
  .hero{
    top: 89px;
  }
  .h2{
    font-family: "Nunito";
    font-size: 31px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  .p1{
    color: #020e4a;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 10px;
    text-align: center;
  }
  .p1 br{
    display: none;
  }
}